# ================= BACKEND =================
backend/.gradle/
backend/build/
backend/out/

# ================= FRONTEND =================
frontend/node_modules/
frontend/dist/

# ================= BLOCKCHAIN =================
artifacts/
cache/

# ================= OS / IDE =================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ================= ENV =================
.env
